.dropdown {
    display: inline-block;
}

select {
    text-align: center;
    padding: 8px;
    font-size: 16px;
    background-color: #a78bfa;
    color: aliceblue;
}

select:hover {
    max-height: 150px;
    overflow-y: auto;
    background-color: violet;
    color: aliceblue;
}

option {
    background-color: #a78bfa;
}

option:hover {
    background-color: violet;
    color: aliceblue;
}