.info-container {
    padding: 6rem 2rem 2rem 6rem;
    height: 35rem;
}

.title {
    text-align: center;
    font-size: xx-large;
    width: 100%;
    color: aliceblue;
}

.info-image-container {
    width: 25%;
    height: 40%;
    margin-left: 37.5%;
    vertical-align: middle;
    align-items: center;
}

.info-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.info-details {
    padding: 2rem 0 0 0;
}

.info-details p {
    color: chocolate;
}

.info-details span{
    color: aliceblue;
}